.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  border-radius: 5px;
  padding: 14px 39px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
}

.normal {
  background-color: var(--primary-color);
  color: white;
}

.normal:hover {
  background-color: var(--primary-hover-color);
}

.outline {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.outline:hover {
  background-color: var(--primary-color);
  color: white;
}