.services {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

@media (max-width: 700px) {
  .services {
    margin-top: 10px;
  }

  .services li:last-child {
    order: -1;
  }
}