.title {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  color: var(--text-color);
}

@media (max-width: 720px) {
  .title {
    font-size: 43px;
    line-height: 60px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 28px;
    line-height: 39px;
    height: 90px;
  }
}