.main-content {
  margin: 80px auto;
  max-width: 1046px;
}

.container {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

@media (max-width: 768px) {
  .main-content {
    margin: 38px 10px 62px;
  }
}

@media (max-width: 700px) {
  .container {
    height: 213px;
  }
}