:root {
  --primary-color: #FF685B;
  --primary-hover-color: #ca4034;
  --danger-color: #E74040;
  --text-color: #252B42;
  --second-text-color: #737373;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  letter-spacing: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  letter-spacing: 0.2px;
}